USE [ESCOLA_NC]
GO
/****** Object:  StoredProcedure [dbo].[REL_SERVICOS_CONTRATADOS]    Script Date: 09/06/2022 08:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[REL_SERVICOS_CONTRATADOS]
AS
BEGIN
	DECLARE
		@ID INT 
		SET @ID = (SELECT TOP 1 ID_SERVICO FROM SERVICOS_CONTRATADOS ORDER BY ID_SERVICO DESC) + 1
	
	SELECT 
		SC.ID_SERVICO, 
		S.DESCRICAO, 
		COUNT(*) AS ASSINANTES,
		S.PRECO AS VALOR,
		(COUNT(*) * S.PRECO) AS FATURAMENTO
	FROM SERVICOS_CONTRATADOS SC
		JOIN USUARIOS U 
			ON SC.CPF_USUARIO = U.CPF
		JOIN SERVICOS S 
			ON SC.ID_SERVICO = S.ID
	GROUP BY 
		SC.ID_SERVICO, 
		S.DESCRICAO,
		S.PRECO
	UNION
	SELECT 
		@ID, 
		'FATURAMENTO TOTAL', 
		COUNT(SC.CPF_USUARIO), 
		0.0,
		SUM(S.PRECO) AS FATURAMENTO
	FROM SERVICOS_CONTRATADOS SC
		JOIN SERVICOS S 
			ON SC.ID_SERVICO = S.ID
	
	SET NOCOUNT OFF
END