@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construindo aplicativos Web com ASP.NET Core</a>.</p>
</div>
